:root {
  font-family: 'Garamond',serif;
  line-height: 1.5;
}

.about {
margin: auto;
width: 50%;
border: 3px solid black;
padding: 70px 70px;
font-size: 20px;
text-align: center;
}

h1 {
  margin-top: 100px;
  font-size: 70px;
  text-align: center;
}

.navig {
position: relative;
top: 0;
width: 90%;
justify-content: right;
text-align: center;
font-size: 50px;
background-color: aliceblue;
}

nav li {
cursor: pointer;
display: inline;
text-shadow: 2px 2px 10px rgba(0,0,0, 0.5);
margin: 0 50px;
}

nav a {
text-decoration: none;
color: black;
}

body {
  background-image: url("../public/neutral-abstract-texture-minimal-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: antiquewhite;
}

h2 {
  margin-top: 50px;
  font-size: 70px;
  text-align: center;
}

#contact-form {
margin: auto;
padding: 50px 0;
width: 80%;
font-size: 40px;
border: 3px solid black;
}

input {
width: 50%;
padding: 10px 10px;
margin: 8px 20px 10px 40px;
box-sizing: border-box;
font-size: 20px;
}

textarea {
margin:auto;
width: 50%;
height: 100px;
padding: 8px 20px;
margin: 8px;
}

label {
float: left;
margin: auto;
}

.error-text{
text-align: center;
font-size: 40px;
}

button {
  text-align: center;
  margin: auto;
  border: 3px solid black;
  padding: 10px;
}

.project {
position: relative;
display: inline-block;
width: 100%;
max-width: 500px;
height: 300px;
margin: 30px;
}

.project-bg {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-text {
    color: white;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 50px;
    z-index: 900;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.project-text:hover {
  background-color: rgb(247, 199, 207);
  opacity: .9;
  border: 10px solid white;
}

.project-text h3 {
  font-size: 2.5rem;
}

.project-text a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark);
  transition: all .3s ease-in-out;
}

.project-text a:hover {
  color: var(--darker);
}
