:root {
  font-family: 'Garamond',serif;
  line-height: 1.5;
}

.about {
margin: 150px 150px;
border: 3px solid black;
padding: 70px 0;
font-size: 20px;
text-align: center;
  
}

h1 {
  font-size: 40px;
}

.navig {
position: relative;
top: 0;
width: 90%;
justify-content: right;
text-align: center;
}

nav li {
cursor: pointer;
display: inline;
text-shadow: 2px 2px 10px rgba(0,0,0, 0.5);
margin: 0 50px;
}

nav a {
text-decoration: none;
color: black;
}





